*{
    padding : 0px;
    margin :0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.main{
    width: 100%;
    height: 100vh;
    background: url('../images/newyear.jpg') center center;
 background-size: cover;
}
.overlay {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0,0,0.5);
}
.title
{
    margin-top: 10px;
    text-align: center;
    font-size: 4rem;
    color: white;

}
.col{

    justify-content: center;
    color: white;
    width: 1000px;
    display: flex;
    margin-top: 40px;
}
    .col div {
        width: 350px;
text-align: center;
    }
label{
    margin-top: 12px;
    font-size: 3.5ch;
}
    input{
        width: 150px;
        height: 100px;
        text-align: center;
        border-color: transparent;
        border-radius: 10px;
        font-size: 5rem;
        background-color: rgba(255, 255, 255, 0.7);
    }